<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %7.7level on thread %-10.10thread in %36.36logger{36}.%-30.30M - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.k2.Util.ObjectUtil" level="warn"/>
  <logger name="com.k2.Util.classes.ClassUtil" level="trace"/>
  <logger name="com.k2.Expressions" level="warn"/>
  <logger name="com.k2.Util.StringUtil" level="warn"/>
  <logger name="com.k2.Util.FileUtil" level="warn"/>
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>